<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StatsD.ApplicationName" value="ApplicationName" />
    <add key="StatsD.Host" value="localhost" />
    <add key="StatsD.Port" value="8125" />
    <add key="StatsD.WebApi.Response.LatencyHeader.Enabled" value="true" />
  </appSettings>
</configuration>