<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StatsD.ApplicationName" value="ApplicationName" />
    <add key="StatsD.Host" value="localhost" />
    <add key="StatsD.Port" value="8125" />
    <add key="StatsD.WebApi.Response.LatencyHeader.Enabled" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>