<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="4.3.0" targetFramework="net45" />
  <package id="FluentAssertions" version="4.19.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="NUnit" version="3.9.0" targetFramework="net45" />
  <package id="StatsdCsharpClient" version="1.4.6" targetFramework="net45" />
  <package id="statsd-helper" version="0.0.29" targetFramework="net45" />
</packages>